.genres {
    margin: 0% 0% 0% 1%;
    padding: 15px 5px 15px 30px;
    border: 2px solid black;
    height: auto;
    background-color: rgb(107, 148, 226);
    border-radius: 25px;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 7%;
}

ul.nav-list {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    height: auto;
}

.nav-list a {
    color: white;
    display: block;
    padding: 8px 16px;
    transition: 0.20s;
    border-radius: 15px;
    font-size: 18px;
}

.nav-list a:hover:not(.active) {
    background-color: lightblue;
}

.nav-list a:hover {
    color: black;
    transition: 0.20s;
}

.navlist .nav-ksiazki.current-page {
    background-color: lightblue;
    color: black;
    transition: 0.20s;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-left: 60px;
    flex-grow: 1;
}
.book-card {
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    height: auto;
    width: 300px;
    background-color: rgb(107, 148, 226);
}
.book-img {
    width: auto;
    height: 200px;
    margin: 0 auto;
}